---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.vue'
import Landing from '../components/Landing.astro'
import About from '../components/About.astro'
import Description from '../components/Description.astro'
import Location from '../components/Location.astro'
import Contact from '../components/Contact.astro'


// TODO Add Footer
// TODO Change Contact layout
// TODO Add mobile responsivness
// TODO style setmore booking page
// TODO add Paypal to setmore
// TODO Try out GithubActions to host it
// TODO Buy domain for Berlin rytmika 


---

<Layout title="rytmika">
	<main>
		<Header client:load/>	
		<Landing/>
		<About/>
		<Description/>
		<Location/>
		<Contact/>
	</main>
</Layout>

