---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.vue'
import Landing from '../components/Landing.astro'
import About from '../components/About.astro'
import Description from '../components/Description.astro'
import Location from '../components/Location.astro'
---

<Layout title="rytmika">
	<main>
		<Header client:load/>	
		<Landing/>
		<About/>
		<Description/>
		<Location/>
	</main>
</Layout>


