<section
    id="omnie"
    class="md:h-80vh text-dark flex"
>
    <div class="w-1/2 relative flex text-center items-center justify-center h-full">
        <div class="absolute w-80 h-6 mt-20 bg-orange"></div>
        <h1 class="text-8xl font-bold w-fit z-10">
            O mnie
        </h1>
    </div>
    <div class="w-1/2 flex items-center justify-center h-full">
        <p class="text-2xl p-12">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor ad alias
            modi facilis quod voluptatum. Possimus, ipsam, aliquid accusamus et in
            corrupti repellendus consectetur nihil temporibus quasi autem
            voluptatibus veniam? Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Eaque natus harum saepe deleniti molestias est porro consequuntur
            laudantium sequi distinctio doloremque recusandae voluptate dolor quis
            nobis ducimus, earum hic ratione!
        </p>
    </div>
</section>
