---
const mailAdress = "Domimail@gmail.com";
---

<section class="md:h-80vh text-dark flex">
    <div
        class="w-1/2 relative flex text-center items-start justify-center h-full"
    >
        <div class="absolute w-80 h-6 mt-20 bg-orange"></div>
        <h1 class="text-8xl font-bold w-fit z-10">Kontakt</h1>
    </div>
    <div class="w-1/2 flex flex-col items-start justify-start h-full">
        <p class="text-2xl p-12">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
        
        </p>
        <address>
            <a href="mailto:Domimail@gmail.com">domimail@gmail.com</a><br />
            <a href="tel:+14155550132">+1 (415) 555‑0132</a>
        </address>
    </div>
</section>
