---
import { Image } from "astro:assets";
import kids from "../assets/kids2.jpg";
---
<div class="relative md:h-80vh">
        <Image src={kids} alt="kids-pic" class="p-2 object-cover w-full h-full " />
        <div class="absolute inset-0 flex flex-col gap-24 *: items-center justify-center text-dark font-bold">
            <h1
            class="text-8xl font-bold"
            >
            Rytmika
        </h1>
        <p class="text-4xl">Zajęcia muzyczno-ruchowe dla najmłodszych</p>
    </div>
</div>
