---
import LocalizationCard from "./LokalizationCard.astro";

const lorem =  'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo dolorum,perferendis, officiis fuga facilis eveniet quibusdam eos quasi dolorescumque sed deleniti qui suscipit nam in vel? Ipsam, nostrum quod!'
---
    <section class="w-full md:h-80vh text-dark">
        <div class="mb-24">
            <div class="w-1/2 flex justify-center items-center">
                <h1 class="text-8xl font-bold z-10 ml-80">Lokalizacja</h1>
            </div>
            <div class="w-1/2"></div>
        </div>
        <div class="flex items-center justify-center gap-24">
            <LocalizationCard title="Prenzlauer Berg" text={lorem} />
        </div>
    </section>
